<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - eCommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-DataTables/DataTables-1.13.1/css/dataTables.bootstrap5.css" />

</head>
<body>
    <header class="bg-light border-bottom">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="navbar-brand text-center ms-5">
                    <p class="h3 border-bottom">eCommerce</p>
                    <p class="h5">Management</p>
                </div>

                <button class="navbar-toggler btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse pe-2 ms-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Admin">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Brand" asp-area="Admin">
                                Brands
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Category" asp-area="Admin">
                                Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Comment" asp-area="Admin">
                                Comments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Product" asp-area="Admin">
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="User" asp-area="Admin">
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Add" asp-controller="Carousel" asp-area="Admin">
                                Carousel
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle text-danger" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Trash
                            </span>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-danger" class="d-block" asp-action="Brands" asp-controller="Trash" asp-area="Admin">
                                        Brands
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" asp-action="Categories" asp-controller="Trash" asp-area="Admin">
                                        Categories
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" asp-action="Comments" asp-controller="Trash" asp-area="Admin">
                                        Comments
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" asp-action="Products" asp-controller="Trash" asp-area="Admin">
                                        Products
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" asp-action="Users" asp-controller="Trash" asp-area="Admin">
                                        Users
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class="me-5" asp-action="Index" asp-controller="Home" asp-area="">
                        <img src="~/svg/profile/house.svg" style="height: 32px; width: 32px" />
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <div class="m-5">
        <h3 class="ms-2">@ViewBag.Title</h3>
        <hr />
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-DataTables/DataTables-1.13.1/js/jquery.dataTables.js"></script>
    <script src="~/lib/jquery-DataTables/DataTables-1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(() => {
            $(`.navbar-nav > li > a[href="${window.location.pathname}"]`).addClass('active');
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
