<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - eCommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row vh-100">
            <div class="col-2 bg-light border-end p-3">
                <div class="text-center mb-5">
                    <p class="h3 border-bottom">eCommerce</p>
                    <p class="h5">Management</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action active">
                        <a class="link-light text-decoration-none" asp-action="Index" asp-controller="Home" asp-area="Admin">
                            Dashboard
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none" asp-action="Index" asp-controller="Brand" asp-area="Admin">
                            Brands
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none" asp-action="Index" asp-controller="Category" asp-area="Admin">
                            Categories
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none" asp-action="Index" asp-controller="Comment" asp-area="Admin">
                            Comments
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none" asp-action="Index" asp-controller="Product" asp-area="Admin">
                            Products
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none">
                            Users
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none">
                            Orders
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">
                        <div class="fw-bolder" data-bs-toggle="collapse" data-bs-target="#collapseTrash" aria-expanded="false" aria-controls="collapseTrash">Trash</div>
                        <div class="collapse mt-3 ms-3" id="collapseTrash">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                    <a class="text-decoration-none text-danger fw-bold" class="d-block" asp-action="Brands" asp-controller="Trash" asp-area="Admin">
                                        Brands
                                    </a>
                                </li>
                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                    <a class="text-decoration-none text-danger fw-bold" asp-action="Categories" asp-controller="Trash" asp-area="Admin">
                                        Categories
                                    </a>
                                </li>
                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                    <a class="text-decoration-none text-danger fw-bold" asp-action="Comments" asp-controller="Trash" asp-area="Admin">
                                        Comments
                                    </a>
                                </li>
                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                    <a class="text-decoration-none text-danger fw-bold" asp-action="Products" asp-controller="Trash" asp-area="Admin">
                                        Products
                                    </a>
                                </li>
                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                    <a class="text-decoration-none text-danger fw-bold" asp-action="Users" asp-controller="Trash" asp-area="Admin">
                                        Users
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="mt-5">
                    <a class="btn btn-primary w-100" asp-action="Index" asp-controller="Home" asp-area=""><< Back to home</a>
                </div>
            </div>
            <div class="col-9 p-5">
                <div class="m-5">
                    <h3 class="ms-2">@ViewBag.Title</h3>
                    <hr />
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
