@{
    ViewBag.Title = "Orders";
}
<table id="orders" class="table table-bordered table-striped display">
    <thead>
        <tr class="text-center">
            <th></th>
            <th>Id</th>
            <th>User</th>
            <th>Created Date</th>
            <th>total</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script>
        function format(d) {
            var table = '<table class="table table-bordered table-striped"> <tr>';
            for (let i =0; i < d.length; i++) {
                table += `<td><b>${d[i].brand}</b> ${d[i].name} | $ ${d[i].price}</td>`;
            }
            table += "</tr> </table>";
            return table;
        }
        $(document).ready(function () {
            var table = $("#orders").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetOrders", "Order", new {Area = "Admin"})',
                    dataSrc: ''
                },
                columns: [
                    {
                        className: 'dt-control',
                        orderable: false,
                        data: null,
                        defaultContent: '',
                    },
                    { data: "id" },
                    { data: "user" },
                    {
                        data: "createdDate", render: function (data) {
                            var date = new Date(data);
                            return `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
                        }
                    },
                    { data: "total" },
                ],
                order: [[2, 'desc']],
            });
            $('#orders tbody').on('click', 'td.dt-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    var id = row.data()["id"];
                    $.ajax({
                        url: '@Url.Action("GetOrders", "Order", new {Area = "Admin"})',
                        success: function (response) {
                            var products = response.filter(r => r["id"] == id)[0]["products"];
                            row.child(format(products)).show();
                            tr.addClass('shown');
                        }
                    });
                }
            });
        });
    </script>
}
