<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - eCommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="bg-light border-bottom shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand ms-3 me-5" asp-controller="Home" asp-action="Index">e-Commerce</a>

                <button class="navbar-toggler btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse pe-2" id="navbarSupportedContent">
                    <form method="get" asp-action="Search" asp-controller="Home" class="d-flex align-items-center w-100 form-search m-2 me-5">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="input" />
                            <button type="submit" class="btn btn-outline-secondary">
                                <img src="~/svg/home/search.svg" />
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav ms-3 list-group list-group-horizontal">
                        <li class="nav-item me-2">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link d-flex align-items-center" asp-area="Profile" asp-controller="Home" asp-action="Profile">
                                    <img src="~/svg/home/user.svg" style="height: 32px; width: 32px" />
                                </a>
                            }
                            else
                            {
                                <a class="nav-link d-flex align-items-center" asp-area="Auth" asp-controller="Home" asp-action="Login">
                                    <img src="~/svg/home/user.svg" style="height: 32px; width: 32px" />
                                </a>
                            }
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item me-2">
                                <a class="nav-link d-flex align-items-center" asp-area="Cart" asp-controller="Home" asp-action="Cart">
                                    <img src="~/svg/home/cart.svg" style="height: 32px; width: 32px" />
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                    <img src="~/svg/home/tools.svg" style="height: 32px; width: 32px" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer class="border-top bg-light footer">
        <div class="container p-3">
            &copy; @DateTime.Now.Year - <a asp-area="" asp-controller="Home" asp-action="Index">eCommerce</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
