@model IEnumerable<CategoryViewModel>
@{
    ViewBag.Title = "Categories";
}

<table id="categories" class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Parent Name</th>
            <th>Created Date</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                <a class="btn btn-primary w-25" asp-action="Add" asp-controller="Category" asp-area="Admin">Add</a>
            </td>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#categories").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetCategories", "Category", new {Area = "Admin"})',
                    dataSrc: ''
                },
                columns: [
                    { data: "name" },
                    { data: "parentName" },
                    {
                        data: "createdDate", render: function (data) {
                            var date = new Date(data);
                            return `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
                        }
                    },
                    {
                        data: "id", render: function (data) {
                            var deleteLink = "@Url.Action("Delete", "Category", new {Area = "Admin", id = "tempData"})";
                            deleteLink = deleteLink.replace("tempData", data);
                            var updateLink = "@Url.Action("Update", "Category", new {Area = "Admin", id = "tempData"})";
                            updateLink = updateLink.replace("tempData", data);
                            return `<a class="btn btn-danger" href="${deleteLink}">Delete</a> <a class="btn btn-success" href="${updateLink}">Update</a>`;
                        }
                    },
                ]
            });
        });
    </script>
}