@model IEnumerable<BrandViewModel>
@{
    ViewBag.Title = "Brands";
}
<table class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>Icon</th>
            <th>Name</th>
            <th>Created Date</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td><img class="mx-auto d-block img-thumbnail" src="~/images/@brand.Image.NameWithPath" style="height: 6em; width: 6em;" /> </td>
                <td>@brand.Name</td>
                <td>@brand.CreatedDate</td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Brand" asp-area="Admin" asp-route-Id="@brand.Id">Delete</a>
                    <a class="btn btn-success" asp-action="Update" asp-controller="Brand" asp-area="Admin" asp-route-Id="@brand.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <a class="btn btn-primary w-50" asp-action="Add" asp-controller="Brand" asp-area="Admin">Add</a>
            </td>
        </tr>
    </tfoot>
</table>
