@model ChangeUserPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<form method="post" asp-action="ChangePassword" asp-controller="Home" asp-area="Profile">
    <div class="row mb-3">
        <div class="col">
            <label>New Password</label>
        </div>
        <div class="col">
            <input type="password" class="form-control" asp-for="Password" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label>New Password (Confirm)</label>
        </div>
        <div class="col">
            <input type="password" class="form-control" asp-for="PasswordConfirm" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label>Current Password</label>
        </div>
        <div class="col">
            <input type="password" class="form-control" asp-for="CurrentPassowrd" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="submit" value="Update" class="btn btn-primary w-100">
        </div>
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
</form>