@{
    ViewBag.Title = "Comments";
}

<table id="comments" class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>Content</th>
            <th>Visibilty</th>
            <th>Product</th>
            <th>Operation</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#comments").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetComments", "Home", new {Area = "Profile"})',
                    dataSrc: ''
                },
                columns: [
                    { data: "content" },
                    { data: "isVisible" },
                    { data: "product" },
                    {
                        data: "id", render: function (data) {
                            var deleteLink = "@Url.Action("DeleteComment", "Home", new {Area = "Profile", id = "tempData"})";
                            deleteLink = deleteLink.replace("tempData", data);
                            return `<a class="btn btn-danger" href="${deleteLink}">Delete</a>`;
                        }
                    },
                ]
            });
        });
    </script>
}

