@{
    ViewBag.Title = "Comments";
}
<table id="comments" class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>Content</th>
            <th>Product</th>
            <th>User</th>
            <th>Visibilty</th>
            <th>Created Date</th>
            <th>Operation</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#comments").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetComments", "Comment", new {Area = "Admin"})',
                    dataSrc: ''
                },
                columns: [
                    { data: "content" },
                    { data: "product" },
                    { data: "user" },
                    { data: "isVisible" },
                    {
                        data: "createdDate", render: function (data) {
                            var date = new Date(data);
                            return `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
                        }
                    },
                    {
                        data: "id", render: function (data, type, row) {
                            var deleteLink = "@Url.Action("Delete", "Comment", new {Area = "Admin", id = "tempData"})";
                            deleteLink = deleteLink.replace("tempData", data);
                            var blockLink = "@Url.Action("Block", "Comment", new {Area = "Admin", id = "tempData"})";
                            blockLink = blockLink.replace("tempData", data);
                            console.log(row);
                            return `<a class="btn btn-danger" href="${deleteLink}">Delete</a> <a class="btn btn-warning" href="${blockLink}">${row["isVisible"] ? "Block" : "Unblock"}</a>`;
                        }
                    },
                ]
            });
        });
    </script>
}
