@{
    ViewBag.Title = "Products";
}
<table id="products" class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Brand</th>
            <th>Category</th>
            <th>CreatedDate</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="8">
                <a class="btn btn-primary w-25" asp-action="Add" asp-controller="Product" asp-area="Admin">Add a new product</a>
            </td>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#products").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetProducts", "Product", new {Area = "Admin"})',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "image", render: function (data) {
                            return `<img class="mx-auto d-block img-thumbnail" style="height: 6em; width: 6em;" src="/images/${data}"/>`
                        }
                    },
                    { data: "name" },
                    { data: "price" },
                    { data: "quantity" },
                    { data: "brand" },
                    { data: "category" },
                    {
                        data: "createdDate", render: function (data) {
                            var date = new Date(data);
                            return `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
                        }
                    },
                    {
                        data: "id", render: function (data) {
                            var deleteLink = "@Url.Action("Delete", "Product", new {Area = "Admin", id = "tempData"})";
                            deleteLink = deleteLink.replace("tempData", data);
                            var updateLink = "@Url.Action("Update", "Product", new {Area = "Admin", id = "tempData"})";
                            updateLink = updateLink.replace("tempData", data);
                            return `<a class="btn btn-danger" href="${deleteLink}">Delete</a> <a class="btn btn-success" href="${updateLink}">Update</a>`;
                        }
                    },
                ]
            });
        });
    </script>
}
