@model List<ProductViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <table class="table table-bordered m-2 text-break">
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity Adet</td>
                <td>@product.Price.ToString("N2") ₺</td>
                <td>@product.Brand.Name</td>
            </tr>
        }
    </table>
</div>
