@{
    ViewBag.Title = "Category Trash";
}
<table id="categories" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent Name</th>
            <th>Created Date</th>
            <th>Operations</th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#categories").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetCategories", "Trash", new {Area = "Admin"})',
                    dataSrc: ''
                },
                columns: [
                    { data: "name" },
                    { data: "parentName" },
                    {
                        data: "createdDate", render: function (data) {
                            var date = new Date(data);
                            return `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
                        }
                    },
                    {
                        data: "id", render: function (data) {
                            var restoreLink = "@Url.Action("RestoreCategory", "Trash", new {Area = "Admin", id = "tempData"})";
                            restoreLink = restoreLink.replace("tempData", data);
                            return `<a class="btn btn-warning" href="${restoreLink}">Restore</a>`;
                        }
                    },
                ]
            });
        });
    </script>
}