@{
    ViewBag.Title = "Comment Trash";
}
<table id="comments" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Content</th>
            <th>Product</th>
            <th>User</th>
            <th>Visibilty</th>
            <th>Created Date</th>
            <th>Operation</th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#comments").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetComments", "Trash", new {Area = "Admin"})',
                    dataSrc: ''
                },
                columns: [
                    { data: "content" },
                    { data: "product" },
                    { data: "user" },
                    { data: "isVisible" },
                    {
                        data: "createdDate", render: function (data) {
                            var date = new Date(data);
                            return `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
                        }
                    },
                    {
                        data: "id", render: function (data) {
                            var restoreLink = "@Url.Action("RestoreComment", "Trash", new {Area = "Admin", id = "tempData"})";
                            restoreLink = restoreLink.replace("tempData", data);
                            return `<a class="btn btn-warning" href="${restoreLink}">Restore</a>`;
                        }
                    },
                ]
            });
        });
    </script>
}