@{
    ViewBag.Title = "User Trash";
}
<table id="users" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>EMail</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#users").DataTable({
                processing: true,
                ajax: {
                    url: '@Url.Action("GetUsers", "Trash", new {Area = "Admin"})',
                    dataSrc: ''
                },
                columns:[
                    { data: "firstName" },
                    { data: "lastName" },
                    { data: "email" },
                    { data: "role" },
                    {
                        data: "id", render: function (data) {
                            var restoreLink = "@Url.Action("RestoreUser", "Trash", new {Area = "Admin", id = "tempData"})";
                            restoreLink = restoreLink.replace("tempData", data);
                            return `<a class="btn btn-warning" href="${restoreLink}">Restore</a>`;
                        }
                    }
                    ]
                    });
                });
    </script>
}
